/* KEYFRAMES */
@keyframes spin3D {
  from {
    transform: rotate3d(.5,.5,.5, 360deg);
  }
  to {
    transform: rotate3d(0deg);
  }
}

/* GRID STYLING */
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #1d2630;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinnerBox {
  width: 390px; /* 300px * 1.30 */
  height: 390px; /* 300px * 1.30 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 0 auto;
}

/* ORBITS */
.leo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.blueOrbit {
  width: 214.5px; /* 165px * 1.30 */
  height: 214.5px; /* 165px * 1.30 */
  border: 1px solid #91daffa5;
  animation: spin3D 3s linear .2s infinite;
}

.greenOrbit {
  width: 156px; /* 120px * 1.30 */
  height: 156px; /* 120px * 1.30 */
  border: 1px solid #91ffbfa5;
  animation: spin3D 2s linear 0s infinite;
}

.redOrbit {
  width: 117px; /* 90px * 1.30 */
  height: 117px; /* 90px * 1.30 */
  border: 1px solid #ffca91a5;
  animation: spin3D 1s linear 0s infinite;
}

.whiteOrbit {
  width: 78px; /* 60px * 1.30 */
  height: 78px; /* 60px * 1.30 */
  border: 2px solid #ffffff;
  animation: spin3D 10s linear 0s infinite;
}

.w1 {
  transform: rotate3D(1, 1, 1, 90deg);
}

.w2 {
  transform: rotate3D(1, 2, .5, 90deg);
}

.w3 {
  transform: rotate3D(.5, 1, 2, 90deg);
}