*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(90deg, rgb(40, 32, 45), rgb(56, 53, 59));
   font-family:  Courier New,Courier,monospace;
}

html {
  scroll-behavior: smooth;
}